
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 12px;
}





main{
	width: 100%;
	display: flex;

}


header{
	width: 100%;
	height: 60px;
	background: grey;
}


header span{
	font-size: 30px;
	padding: 10px;
	color: white;
	transition: all 300ms;
	cursor: pointer;
	position: relative;
	top: 16px;
	left: 10px;
}

header span:hover{
	background: rgba(0,0,0,0.4);
	border-radius: 10px;
}






.content-menu{
	width: 145px;
	background: #161616;
	transition: all 300ms;
}

.content-menu2{
	transform: translateX(-100px);
}

.content-menu li{
	list-style: none;
	text-align: center;
	padding: 20px;
	color: white;
	transition: all 300ms;
	cursor: pointer;

}


.content-menu li:hover{
	transform: translateY(10px);
	background: rgba(0,0,0,0.5);
}

.content-menu li span{
	font-size: 40px;

}

.content-menu li h4{
	 font-weight: 40;
	 transform: translateY(14px) translateX(-140px);
	 transition: all 300ms;
}

.icon1{
	color: #BA7404;
}
.icon2{
	color: #1BBFB2;
}
.icon3{
	color: #A319A4;
}
.icon4{
	color: #760B0B;
}
.icon5{
	color: #1B7E9F;
}
.icon6{
	color: #6A26DF;
}
.icon7{
	color: #6BF929;
}
.icon8{
	color: #F9E11B;
}
.icon9{
	color: #FFF;
}

.content-menu:hover .text1{
	transform: translateX(0px);
	transition: all 100ms;
}

.content-menu:hover .text2{
	transform: translateX(0px);
	transition: all 200ms;
}
.content-menu:hover .text3{
	transform: translateX(0px);
	transition: all 300ms;
}
.content-menu:hover .text4{
	transform: translateX(0px);
	transition: all 400ms;
}
.content-menu:hover .text5{
	transform: translateX(0px);
	transition: all 500ms;
}
.content-menu:hover .text6{
	transform: translateX(0px);
	transition: all 600ms;
}
.content-menu:hover .text7{
	transform: translateX(0px);
	transition: all 700ms;
}
.content-menu:hover .text8{
	transform: translateX(0px);
	transition: all 800ms;
}
.content-menu:hover .text9{
	transform: translateX(0px);
	transition: all 900ms;
}

table{
	position: absolute;
	top: 170px;
	bottom: 150px; 
	left: 200px;
	width: 80%;
	background-color: grey;
	text-align: left;
	border-collapse: collapse;
}

th, td{
	border: solid 1px black;
	padding: 20px;
}
td{
	max-height: 1px;
	max-width: 20px;
}


/*Encabezado*/
thead{
	background-color: #246355;
	color: white;
	border-bottom: solid 5px #0F362D;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;

}



.main-section2{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	margin: 0;
}




.main-section3{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	margin: 0;
}

/*Iconos tabla*/

.añadir{
	font-size: 25px;
	color: #6A26DF;
}
.editar{
	font-size: 20px;
	color: #6BF929;
}
.borrar{
	font-size: 20px;
	color: #760B0B;
}

.icons{
  position: absolute;
	
}


.iconos-superiores{
	position: absolute;
	top: 100px;
	bottom: 40px;
	left: 825px;
	text-align: center;
	height: 2%;
}

.mensaje{

	position: absolute;
	top: 150px;
	bottom: 150px; 
	left: 500px;
	width: 30%;
	height: 10%;
	background-color:white;
	text-align: center;
	border: solid 3px black;


}


/*Noticia*/

.noticia{

	top: 400px;
	left: 250px;
	height: 100%;
	width: 60%;
	position: absolute;

}


.lineanegra{
	position: absolute;
	top: 150px;
	width: 77%;
	left: 200px;
	height: 20px;
	background-color: black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.lineanegra2{
	position: absolute;
	top: 350px;
	width: 77%;
	left: 200px;
	height: 50px;
	background-color: grey;

}



.cabecera{
	position: absolute;
	left: 500px;
	top: 200px;
	font-size: 15vh;
	margin: 0 auto;
	width: 50%;
	text-align: center;


}












