
*{
	margin: 0;
	padding: 0;
}

textarea .cuerpo{
	resize: none;
	vertical-align: baseline;
	border: 2px;
	overflow: auto;
	display: block;
}



.formulario{
	position: absolute;
	top: 250px;
	left: 400px;
	width: 60%;
	margin: 0 auto;
	resize: none
	border: black 2px solid;
}


.perfil{
	position: absolute;
	top: 500px;
	left: 400px;
	width: 80%;
	margin: 0 auto;
	resize: none
	border: black 2px solid;
}




/*Cabecera de la publicación*/


.cabecera{
	position: absolute;

}

/*Estilos para horarios*/


.horarios{
	text-align: center;
	min-width: 100%;
}









